
.regTable{
	margin-top:5px;
	margin-bottom:15px;
	width:99%;
	border-collapse: collapse;
}
.regTable td{
	padding:5px;
	border:1px solid #dc851b;
}
.regTable .theme{
	height:28px;

	font-weight:bold;
}

.regTable .theme td{
	height:28px;
	
	font-weight:bold;
}
